<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="calendar.CalendarDailyPage"
            android:exported="false" />
        <activity
            android:name=".AnalyzeSchedule"
            android:exported="false" />
        <activity
            android:name="profile.ProfilePageViewer"
            android:exported="false" />
        <activity
            android:name="profile.Settings"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="groups.GroupInfo"
            android:exported="false" />
        <activity
            android:name="homepage.HomePage"
            android:exported="false" />
        <activity
            android:name="messages.MessageView"
            android:exported="false" />
        <activity
            android:name="calendar.CalendarMonthlyPage"
            android:exported="false" />
        <activity
            android:name="calendar.CalendarWeeklyPage"
            android:exported="false" />
        <activity
            android:name="groups.EditGroup"
            android:exported="false" />
        <activity
            android:name="groups.AddGroup"
            android:exported="false" />
        <activity
            android:name="profile.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".Index"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="events.EventsListViewer"
            android:exported="false" />
        <activity
            android:name=".NavBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="profile.CreateAccountPage"
            android:exported="true" />
        <activity
            android:name="events.CreateEventPage"
            android:exported="true" />
        <activity
            android:name="profile.LoginFormPage"
            android:exported="true" />
        <activity
            android:name="groups.MemberViewer"
            android:exported="true" />
        <activity
            android:name="events.EditEventPage"
            android:exported="true" />
        <activity
            android:name="notifications.NotificationPage"
            android:exported="true" />
    </application>

</manifest>