<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CalendarMonthlyPage"
            android:exported="false" />
        <activity
            android:name=".EditGroup"
            android:exported="false" />
        <activity
            android:name=".AddGroup"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".Index"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventsListViewer"
            android:exported="false" />
        <activity
            android:name=".NavBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountPage"
            android:exported="true" />
        <activity
            android:name=".CreateEventPage"
            android:exported="true" />
        <activity
            android:name=".LoginFormPage"
            android:exported="true" />
        <activity
            android:name=".MemberViewer"
            android:exported="true" />
        <activity
            android:name=".EditEventPage"
            android:exported="true" />
    </application>

</manifest>